body{
    font-family: 'Roboto Mono', monospace;
}

.board{
    margin: 100px auto;
   
}

h1{
    margin-top: 30px;
   
}

.button{
    height: 60px;
    width: 200px;
    border: 3px solid black;
    margin: auto;
}
.button p {
    display: block;
    font-size: 30px;
}


.board tr td {
    border: 3px solid black;
    height: 100px;

}

.board td {
    width: 100px;
}